<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Come join the fun!</h2>
                <hr class="light">
                <p class="text-faded">
                    A tennis club with a twist 🎾🍋🍹 - whether you're here to rally, compete, or just enjoy the post-match vibes, 
                    Tennis & Tequila is all about fun tennis and great company. Come play, connect, and socialize with us!
                </p>
                <a href="https://forms.gle/xUVbFbeCh8LDGgFJ8" class="btn btn-default btn-xl">Register Here!</a>
                <h2 class="section-heading">Interested in joining our Leadership Board?</h2>
                <hr class="light">
                <a href="https://forms.gle/CxQ8YGD4xGQiDXnt9" class="btn btn-default btn-xl">Apply Here!</a>
            </div>
        </div>
    </div>
</section>
