<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">TENNIS WITHOUT THE ATTITUDE</h2>
                <hr class="light center">
                <p class="text-large">
                    We started Tennis & Tequila because we believe tennis should be fun, social, and 
                    open to everyone - not just people who grew up with a racquet in their hand. Whether 
                    you've never played or you're dusting off old skills, you belong here.
                </p>
                <br>
                <a href="https://forms.gle/xUVbFbeCh8LDGgFJ8" class="btn btn-default btn-xl">SIGN UP TODAY</a>
            </div>
        </div>
    </div>
</section>
