<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Redefining what it means to play tennis.</h2>
                <hr class="light">
                <p class="text-faded">
                    We're building a modern, lifestyle-driven tennis community for young professionals who
                    are focused on living fully - on and off the court. Through curated events, vibrant
                    socials, and elevated experiences, we create space for connection, movement, and unapologetic
                    good energy.
                    <br>
                    The new era of tennis starts here.
                </p>
                <a href="https://forms.gle/xUVbFbeCh8LDGgFJ8" class="btn btn-default btn-xl">SIGN UP</a>
            </div>
        </div>
    </div>
</section>
