<section class="bg-primary" id="donate">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Support the Movement</h2>
                <hr class="light">
                <p class="text-faded">
                    Help us grow a vibrant tennis community rooted in culture, connection,
                    and curated experiences.
                    <br>
                    <br>
                    Your donation fuels future events, court time, coaching, and good vibes - 
                    every dollar counts.
                </p>
                <a href="https://www.paypal.com/paypalme/TennisAndTequila" class="btn btn-default btn-xl">Make a Donation</a>
            </div>
        </div>
    </div>
</section>
