<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Support Tennis and Tequila 🎾🍹</h2>
                <hr class="light">
                <p class="text-faded">
                    Help us keep the good vibes going! Your support makes our events possible - covering court rental,
                     food, drinks, and more. Any amount helps, and we appreciate you being part of the Tennis & Tequila family!
                </p>
                <h2 class="section-heading">Where Your Donations Go:</h2>
                <hr class="light">
                <p class="text-faded">
                  <b>Court Rentals & Event Spaces</b> - So we always have a place to play 🎾
                  <b>Foold & Drinks</b> - Tequila, mimosas, and other small bites 🥂
                  <b>Fun Giveaways</b> - Keeping the community fresh with exclusive perks 🎽
                </p>
                <a href="https://forms.gle/xUVbFbeCh8LDGgFJ8" class="btn btn-default btn-xl">Register Here!</a>
            </div>
        </div>
    </div>
</section>
