<section class="bg-primary" id="donate">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">SUPPORT THE MOVEMENT</h2>
                <hr class="light center">
                <p class="text-large">
                    Help us grow a vibrant tennis community rooted in culture, connection,
                    and curated experiences.
                </p>
                <p>
                    Your donation fuels future events, court time, coaching, and good vibes. 
                    every dollar counts.
                </p>
                <br>
                <a href="https://www.paypal.com/paypalme/TennisAndTequila" class="btn btn-default btn-xl">DONATE NOW</a>
            </div>
        </div>
    </div>
</section>
