<section id="email-capture">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <!-- Form -->
                <div id="email-form-container">
                    <h3>WANT IN? DROP YOUR EMAIL.</h3>
                    <p>Be the first to know when registration opens.</p>
                    <form class="email-form" id="mc-email-form">
                        <input type="email" name="EMAIL" id="email-input" placeholder="your@email.com" required>
                        <!-- Bot protection -->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_af0fb122cb537b0fddec23330_fa75828b93" tabindex="-1" value="">
                        </div>
                        <button type="submit" class="btn btn-primary" id="email-submit-btn">I'M IN</button>
                    </form>
                </div>
                <!-- Success Message -->
                <div class="email-success" id="email-success">
                    <h3>WELCOME TO THE CLUB!</h3>
                    <p>You're on the list. We'll hit you up when registration opens.</p>
                </div>
            </div>
        </div>
    </div>
</section>

