<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Serve. Sip. Socialize.</h1>
            <h1>Welcome to Tennis & Tequila Social Club</h1>
            <hr>
            <p>A tennis club with a twist 🍋🍹 - whether you're here to rally, compete, or just enjoy the post-match vibes, 
            Tennis & Tequila is all about fun tennis and great company. Come play, connect, and socialize with us!</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
