<section class="bg-primary" id="leadership">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Interested in joining our Leadership Team?</h2>
                <hr class="light">
                <p class="text-faded">
                    <h3>Event Coordinator</h3>
                        <h4>Role</h4>
                            <br>Oversees event planning, logistics, and execution to ensure Tennis & Tequila
                            events run smoothly.
                        <h4>Responsibilities</h4>
                            <br>• Secure court reservations and coordinate venues.
                            <br>• Plan event themes, schedules, and player matchups
                            <br>• Manage event day logistics (check-in, rotations, setup, breakdown
                </p>
                <a href="https://forms.gle/CxQ8YGD4xGQiDXnt9" class="btn btn-default btn-xl">Apply Here!</a>
            </div>
        </div>
    </div>
</section>
