<section class="bg-primary" id="leadership">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Interested in joining our Leadership Team?</h2>
                <hr class="light">
                <p class="text-faded">
                </p>
            </div>
            <h2>Event Coordinator</h2>
                  <b>Role</b>: Oversees event planning, logistics, and execution to ensure Tennis & Tequila
                  events run smoothly.
                  <b>Responsibilities:</b>
                  <ul>
                    <li>Secure court reservations and coordinate venues.</li>
                    <li>Plan event themes, schedules, and player matchups</li>
                    <li>Manage event day logistics (check-in, rotations, setup, breakdown</li>
                  </ul>  
                <a href="https://forms.gle/CxQ8YGD4xGQiDXnt9" class="btn btn-default btn-xl">Apply Here!</a>
        </div>
    </div>
</section>
