<section id="merch">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">REP THE CLUB</h2>
                <hr class="primary center">
                <p class="merch-intro">Official Tennis & Tequila gear - look good on and off the court.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="merch-grid">
            <div class="merch-card wow fadeInUp">
                <div class="merch-image">
                    <img src="img/merch/unisex-tshirt.jpg" alt="Tennis & Tequila Unisex T-Shirt">
                </div>
                <div class="merch-info">
                    <h4>Unisex T-Shirt</h4>
                    <p class="merch-description">Classic comfort for everyone</p>
                    <a href="https://square.link/u/Seee9nGt" class="btn btn-primary" target="_blank">Shop Now</a>
                </div>
            </div>
            <div class="merch-card wow fadeInUp" data-wow-delay=".1s">
                <div class="merch-image merch-image-swap">
                    <img src="img/merch/womens-polo-0.jpg" alt="Tennis & Tequila Women's Sports Polo" class="merch-img-primary">
                    <img src="img/merch/womens-polo-1.jpg" alt="Tennis & Tequila Women's Sports Polo - Alternate View" class="merch-img-hover">
                </div>
                <div class="merch-info">
                    <h4>Women's Sports Polo</h4>
                    <p class="merch-description">Court-ready performance fit</p>
                    <a href="https://square.link/u/hLWWvnrw" class="btn btn-primary" target="_blank">Shop Now</a>
                </div>
            </div>
            <div class="merch-card wow fadeInUp" data-wow-delay=".2s">
                <div class="merch-image merch-image-swap">
                    <img src="img/merch/mens-polo-0.jpg" alt="Tennis & Tequila Men's Sports Polo" class="merch-img-primary">
                    <img src="img/merch/mens-polo-1.jpg" alt="Tennis & Tequila Men's Sports Polo - Alternate View" class="merch-img-hover">
                </div>
                <div class="merch-info">
                    <h4>Men's Sports Polo</h4>
                    <p class="merch-description">Court-ready performance fit</p>
                    <a href="https://square.link/u/FlUzlzI8" class="btn btn-primary" target="_blank">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

