<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row" style="padding: 60px 0 30px;">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">GALLERY</h2>
                <hr class="primary center">
                <p>Moments from our events, mixers, and court sessions.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/img1.jpeg" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/img1.jpeg" class="img-responsive" alt="Tennis & Tequila - Friendly Competition">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Friendly Competition
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/IMG_5737.JPG" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/IMG_5737.JPG" class="img-responsive" alt="Tennis & Tequila - Great Vibes">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Great Vibes
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/IMG_5525.jpeg" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/IMG_5525.jpeg" class="img-responsive" alt="Tennis & Tequila - Community">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Community
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/IMG_5712.JPG" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/IMG_5712.JPG" class="img-responsive" alt="Tennis & Tequila - Fun">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Fun
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/IMG_5769.JPG" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/IMG_5769.JPG" class="img-responsive" alt="Tennis & Tequila - Health & Wellness">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Health & Wellness
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/IMG_5715.JPG" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/IMG_5715.JPG" class="img-responsive" alt="Tennis & Tequila - Inclusivity">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Inclusivity
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
