<section class="no-padding" id="portfolio">
    <div class="container">
        <div class="row" style="padding: 60px 0 30px;">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">GALLERY</h2>
                <hr class="primary center">
                <p>Moments from our events, mixers, and court sessions.</p>
            </div>
        </div>
    </div>
    
    <!-- 2026 Campaign Shoot -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="margin-bottom: 20px;">
                <h3 class="gallery-year-title">2026 Season</h3>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/campaign-shoot-group-on-court.jpg" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/campaign-shoot-group-on-court.jpg" class="img-responsive" alt="Tennis & Tequila - Squad Goals">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Squad Goals</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/campaign-shoot-group-in-lounge.jpg" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/campaign-shoot-group-in-lounge.jpg" class="img-responsive" alt="Tennis & Tequila - Lounge Vibes">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Lounge Vibes</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/campaign-shoot-racquet-high-five.jpg" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/campaign-shoot-racquet-high-five.jpg" class="img-responsive" alt="Tennis & Tequila - Good Game">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Good Game</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/campaign-shoot-boy-girl.jpg" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/campaign-shoot-boy-girl.jpg" class="img-responsive" alt="Tennis & Tequila - Court Ready">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Court Ready</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/campaign-shoot-girl-swing.jpg" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/campaign-shoot-girl-swing.jpg" class="img-responsive" alt="Tennis & Tequila - Swing">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Swing</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/campaign-shoot-boy-serve.jpg" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/campaign-shoot-boy-serve.jpg" class="img-responsive" alt="Tennis & Tequila - Serve">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Serve</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/campaign-shoot-boy-girl-girl.jpg" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/campaign-shoot-boy-girl-girl.jpg" class="img-responsive" alt="Tennis & Tequila - The Crew">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">The Crew</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/campaign-shoot-boy-girl-pose.jpg" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/campaign-shoot-boy-girl-pose.jpg" class="img-responsive" alt="Tennis & Tequila - Strike a Pose">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Strike a Pose</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/campaign-shoot-group-in-lounge-1.jpg" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/campaign-shoot-group-in-lounge-1.jpg" class="img-responsive" alt="Tennis & Tequila - Good Times">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Good Times</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    
    <!-- 2025 Season -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center" style="margin: 50px 0 20px;">
                <h3 class="gallery-year-title">2025 Season</h3>
                <p class="gallery-year-subtitle">Where it all began</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/img1.jpeg" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/img1.jpeg" class="img-responsive" alt="Tennis & Tequila - Friendly Competition">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Friendly Competition</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/IMG_5737.JPG" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/IMG_5737.JPG" class="img-responsive" alt="Tennis & Tequila - Great Vibes">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Great Vibes</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/IMG_5525.jpeg" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/IMG_5525.jpeg" class="img-responsive" alt="Tennis & Tequila - Community">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Community</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/IMG_5712.JPG" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/IMG_5712.JPG" class="img-responsive" alt="Tennis & Tequila - Fun">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Fun</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/IMG_5769.JPG" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/IMG_5769.JPG" class="img-responsive" alt="Tennis & Tequila - Health & Wellness">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Health & Wellness</div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/IMG_5715.JPG" class="portfolio-box" data-lightbox="gallery">
                    <img src="img/portfolio/IMG_5715.JPG" class="img-responsive" alt="Tennis & Tequila - Inclusivity">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">Inclusivity</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
