<section id="recap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">2025 WAS JUST THE BEGINNING</h2>
                <hr class="light center">
                <p>A look back at our inaugural season. 2026 is going to be even better.</p>
                <br>
                <a href="https://www.instagram.com/p/DRAMz2BAE40/" target="_blank" class="btn btn-outline btn-xl">WATCH THE 2025 RECAP</a>
                <a href="https://forms.gle/xUVbFbeCh8LDGgFJ8" class="btn btn-lime btn-xl" style="margin-left: 15px;">JOIN THE MOVEMENT</a>
            </div>
        </div>
    </div>
</section>

