<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">WHAT WE'RE ABOUT</h2>
                <hr class="primary center">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box wow fadeInUp">
                    <div class="icon-wrapper">
                        <i class="fa fa-heart"></i>
                    </div>
                    <h3>All Are Welcome</h3>
                    <p>
                        Never played before? Perfect. We're here for the people who always 
                        wanted to try tennis but didn't know where to start. No judgement, 
                        just good vibes and patient people.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box wow fadeInUp" data-wow-delay=".1s">
                    <div class="icon-wrapper">
                        <i class="fa fa-heartbeat"></i>
                    </div>
                    <h3>Real Workouts</h3>
                    <p>
                        Drills, rallies, ball machines - we're here to actually play and improve. 
                        You'll break a sweat, learn something new, and feel great doing it.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box wow fadeInUp" data-wow-delay=".2s">
                    <div class="icon-wrapper">
                        <i class="fa fa-users"></i>
                    </div>
                    <h3>Great People</h3>
                    <p>
                        Our members come from all walks of life, but they share one thing: 
                        they're genuinely good humans. The friendships made here extend way 
                        beyond the court.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box wow fadeInUp" data-wow-delay=".3s">
                    <div class="icon-wrapper">
                        <i class="fa fa-bolt"></i>
                    </div>
                    <h3>Good Energy Only</h3>
                    <p>
                        There's something special about our events - people feel it the moment 
                        they show up. Positive energy, encouraging vibes, and a lot of laughs.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
