<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action.html %}
    {% include events.html %}
  {% include services.html %}
    {% include testimonials.html %}
    {% include portfolio.html %}
    {% include recap.html %}
  {% include donations.html %}
    {% include faq.html %}
    {% include partnerships.html %}
  {% include aside.html %}
  {% include contact.html %}
    {% include email-capture.html %}
    {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
